{% extends 'base.html.twig' %}

{% block title %}Processes{% endblock %}

{% block body %}
    <h1>Processes</h1>
    {% if machines %}
        {% for machine in machines %}
            <div class="machine">
                {{machine.name}}
                {{machine.TotalMemory}}                
                {{machine.TotalCore}}
                <a href="{{ path('delete_machine', { id: machine.id }) }}">Удалить машину</a>
            </div>
        {%endfor%}
    {% else %}
    <h1>ДИСАСИ</h1>
    {%endif%}
    <a href="{{ path('add_machine') }}">Добавить новую машину</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Memory</th>
            <th>CPU</th>
        </tr>
    </table>
{% endblock %}
