{% extends 'base.html.twig' %}

{% block title %}Добавить машину{% endblock %}

{% block body %}

 {% for label, messages in app.flashes %}
       <div class="flash-message flash-{{ label }}">
           {% for message in messages %}
               <p>{{ message }}</p>
           {% endfor %}
       </div>
   {% endfor %}

    <h1>Добавить процесс</h1>
     {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Добавить</button>
    {{ form_end(form) }}
    <a href="{{ path('main-table') }}">Назад к списку</a>

{% endblock %}
